.player {
    width: 30px;
    height: 30px;
    background-color: #4286f4;
    border: 4px solid #094dbc;
    border-radius: 50%;
    text-align: center;
    color: #c9d2e0;
    position: absolute;
}